# Server Port (Azure App Service sets PORT automatically)
PORT=3000

# Node Environment
NODE_ENV=development

# Session Secret Key
SESSION_SECRET=msc-club-credentials-secret-key-2026

# Database File Path
DB_PATH=./credentials.db

# Frontend Application Base URL (for QR code & Email verification links)
FRONTEND_URL=http://localhost:5173

# External Google Sheet Sync APIs
EVENT_API=https://opensheet.elk.sh/1G0kQL9J3e8Wn3CxjJEQr91dOfWscOoGFAGF1GvYgbxE/Sheet1
TEAM_API=https://opensheet.elk.sh/1G0kQL9J3e8Wn3CxjJEQr91dOfWscOoGFAGF1GvYgbxE/Team
