# PostgreSQL Database URL (Neon / Azure / Local)
DATABASE_URL=postgresql://neondb_owner:password@ep-xxxx.ap-south-1.aws.neon.tech/neondb?sslmode=require

# Server Port (Azure App Service sets PORT automatically)
PORT=3000

# Node Environment
NODE_ENV=development

# Session Secret Key
SESSION_SECRET=msc-club-credentials-secret-key-2026

# Frontend Application Base URL (for QR code & Email verification links)
FRONTEND_URL=http://localhost:5173
