# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Generated Prisma Client
generated/

# SQLite Database files
*.db
*.sqlite
*.sqlite3

# Env files
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
